<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83967b">  <td>20/07/03 20:59:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleFlight.adminlogintest()[pri:0, instance:Pages.ScheduleFlight@11438d26]">adminlogintest</td> 
  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/07/03 20:59:19</td>   <td>4566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleFlight.scheduleFlight()[pri:0, instance:Pages.ScheduleFlight@11438d26]">scheduleFlight</td> 
  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/07/03 20:59:09</td>   <td>-5152</td> <td title="&gt;&gt;ScheduleFlight.setup()[pri:0, instance:Pages.ScheduleFlight@11438d26]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/07/03 20:59:10</td>   <td>-5008</td> <td>&nbsp;</td><td title="&gt;&gt;ScheduleFlight.setupTest()[pri:0, instance:Pages.ScheduleFlight@11438d26]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/07/03 20:59:59</td>   <td>44786</td> <td title="&lt;&lt;ScheduleFlight.tearDown()[pri:0, instance:Pages.ScheduleFlight@11438d26]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/07/03 20:59:59</td>   <td>44066</td> <td>&nbsp;</td><td title="&lt;&lt;ScheduleFlight.tearDownTest()[pri:0, instance:Pages.ScheduleFlight@11438d26]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
</table>
